.box {
  overflow: hidden;
  position: relative;
  margin: 0px auto;
  min-width: 300px;
  max-width: 300px;
  min-height: 200px;
  border-radius: 10px; }
  .box:before {
    position: absolute;
    margin: calc(50px * -1);
    padding: 50px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 350px rgba(153, 85, 170, 0.75);
            box-shadow: 0 0 0 350px rgba(153, 85, 170, 0.75);
    content: ''; }

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
